html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
  margin:0;
  padding:0;
  border: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  color: #333;
}

footer {
  margin-top: auto;
  font-size: x-small;
  text-align: center;
  background-color: #e9eeff;
  order: 2;
}

#root {
  height: 100%;
  width: 100%;
}

.app-div {
  background-color: #f7f7f7;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-div {
  margin: 0 auto;
  width: 80%;
  padding-top: 75px;
  background-color: #e9eeff;
  /*background-color: #3d61da;*/
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

main {
  order: 1;
  background-color: #e9eeff;
}

header {
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: rgb(0, 76, 255);
}

.Axis path,
.Axis line {
  stroke: black;
}

.Axis text {
  font-size: 1.7em;
  fill: black;
}

.bar-graph {
  order: 2;
  height: 500px;
  width: 40%;
  /*overflow: visible;*/
}

.champion-select-box {
  order: 3;
  width: 200px;
  overflow: auto;
  border: 1px #989898 solid;
  height: 450px;
}

.champion-select-box div {
  cursor: pointer;
}

.champion-select-box div:hover {
  background-color: #ccd8ff;
}

.champion-select-box button {
  border: none;
  padding: 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px 4px 4px;
  outline: none;
  /*z-index: 1;*/
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.champion-select-box div span {
  position: relative;
  top: 5px;
  left: 2px;
}

.champion-select-span {
}

.champion-select-span span {
  font-weight: bold;
}

.cookie {
  border: 1px solid grey;
  text-align: center;
  background-color: rgb(0, 76, 255);
  padding: 1.5em 1em 1em 1em;
  order: 3;
  display: flex;
}

.cookie span {
  flex: 2;
  color: #f7f7f7;
  font-weight: bold;
  margin-top: 3px;
}

.cookie button {
  margin-left: auto
}

.homepage-about {
  margin-bottom: 30px;
}

.homepage-about h2 {
  margin-bottom: 4px;
}

.homepage-div {
  text-align: center;
}

.homepage-header {
  margin-bottom: 50px;
}

.homepage-search-info {
  margin-bottom: 40px;
}

.homepage-search-info span{
  display: block;
}

.homepage-subheader-div {
  font-size: 1.2em;
}

.loading-div {
  
}

.logo-span {
  display: block;
  margin: 0 auto;
  padding-bottom: 9px;
  padding-left: 3px;
  width: 200px;
}

.logo-span a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;

}

.no-data-found-div {
  text-align: center;
}

.no-data-found-div span {
  display: block;
}

.prev-search-list-item {
  text-align: center;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.prev-search-list-item:hover {
  background-color: #ccd8ff;
}

.search-dropdown-box {
  position: relative;
}

.search-dropdown-box form input {
  height: 2em;
  text-align: center;
  width: 197px;
  border: 1px solid #8C92AC;
  background-color: #f7f7f7;
}

.search-dropdown-box-parent {
  width: 197px;
  margin: 0 auto;
}

.search-dropdown-content {
  display: none;
}

.search-dropdown-content ul {
  position: absolute;
  background-color: #f9f9f9;
  margin: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  list-style-type: none;
  width: 100%;
}

.search-dropdown-content ul a {
  font-size: 1.3em;
  text-decoration: none;
}
.stats-to-display-box {
  order: 1;
  width: 300px;
  overflow: auto;
  border: 1px solid #989898;
  display: flex;
  flex-direction: column;
  height: 450px;
}

#stats-to-display-span {
  display: block;
  font-weight: bold;
}

.stats-to-display-box div {
  cursor: pointer;

}

.stats-to-display-box div:hover {
  background-color: #ccd8ff
}

.stats-to-display-box span {
      position: relative;
      top: 6px;
      padding: 3px;
}

.stats-to-display-box button {
  border: none;
  padding: 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px 4px 4px;
  outline: none;
  /*z-index: 1;*/
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius:20px; 
}

.summoner-flex-box {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 1025px) {
  .bar-graph {
    order: 1;
    width: 100%;
    height: 250px;
  }

  .champion-select-box {
    order: 3;
    width: 95%;
    height: 200px;
  }

  .main-div {
    padding-top: 10px;
    width: 100%;
  }

  .stats-to-display-box {
    order: 2;
    height: 200px;
    width: 95%;
  }

  .summoner-flex-box {
    flex-direction: column;
    align-content: center;
  }
}
